<h1>Show Role Type</h1>

<p>
  <b>Role type cd:</b>
  <%=h @role_type.role_type_cd %>
</p>

<p>
  <b>Role desc:</b>
  <%=h @role_type.role_desc %>
</p>


<%= link_to 'Edit', edit_role_type_path(@role_type) %> |
<%= link_to 'Back', role_types_path %>