<p>
  <b>Contact type:</b>
  <%=h @contact.contact_type_id %>
</p>

<p>
  <b>Contact data:</b>
  <%=h @contact.contact_data %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>