<h1>Contact Information</h1>
<title>Contacts:</title>

<table>
  <tr>
    <th>Type</th>
    <th>Contact</th>
    <th>Office Phone</th>
    <th>Cell Phone</th>
    <th>email<th>
  </tr>
  <tr>
    <td>Realtor</td>
    <td>Joanne Higgins</td>
    <td>262-642-3651</td>
    <td>262-745-5975</td>
    <td><a href="mailto:irishmhyh@yahoo.com">irishmhyh@yahoo.com</a></td>
  <tr></tr>
</table>



<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>
