<h1>Frequently Asked Questions</h1>
<title>FAQ: <%= controller.action_name %></title>

  <table>
    <tr><td><b>What is the purpose of this site?</b></td></tr>
    <tr><td>&nbsp;&nbsp;Higgins Realty provides this site as a way for anyone interested in our properties to have access to a complete listing and details at any time of the day.</td></tr>
    <tr></tr>
    <tr><td><b>How can these properties be seen?</b></td></tr>
    <tr><td>&nbsp;&nbsp;Please call 262-642-3651 for an appointment or email <a href="mailto:irishmhyh@yahoo.com">irishmhyh@yahoo.com</a></td></tr>
  </table>

  
<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>
