<h1>News</h1>
<title>News:</title>

<div class="entry">
  <p>Where currently scrambling to get this site up & running...</p><br /><br /><br />
  <p>Please check back soon & often to see what's new & any changes!<br /><br /><b>Thank You for visting our site!</b></p>
</div>


<br /><br />
<b><%= link_to 'Return to homepage...', properties_path %></b>